h1{
    padding: 0;
}

body{
    margin: 0 5px 0 5px;
}

section {
    flex-direction: column;
}

nav{
    justify-content: center;
}

#nr_items_left{
    justify-content: center;
}

#filter_buttons{
    width: 122%;
    justify-content: center;
}

#filter_buttons button{
    padding: 6px;
}

footer{
    padding-top: 40px;
}
