* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f6f6f6;
}

h1{
    height: auto;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    padding: 10px 10px 6px 10px;
    font-size: 100px;
}

main{
    width: 550px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 24px 50px -8px rgba(0, 0, 0, 0.15);
}

#New_Todo {
    border: none;
    width: 100%;
    font-size: 24px;
    padding: 19px 14px 19px 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

::placeholder{
    color: rgba(0, 0, 0, 0.1);
    font-style: italic;
}

input[type="text"]{
    color: #4D4D4D;
}

section{
    display: flex;
    padding: .6em 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2),
                0 2px 3px 0.2px rgba(0, 0, 0, 0.2);
}

div{
    color: #777;
    font-size: 14px;
    display: flex;
    padding: 4px 15px;
}

nav{
    width: 100%;
    padding-right: 18%;
}

ul{
    list-style: none;
    background-color: white;    
    display: inline-flex;
}

#filter_buttons button{
    padding: 4px 13px 4px;
	background: rgba(0, 0, 0, 0.003);
    border-style: none;
    color: #777;
    font-size: 14px;
}

button:active{
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgba(175, 47, 47, 0.15);
}

footer{
    text-align: center;
    color: #bfbfbf;
    font-size: 10px;
    padding-top: 60px;
}

.footer{
    padding: .4em;
}

a{    
    text-decoration: none;
    color: #bfbfbf;
}

a:hover{
    color: #bfbfbf;
    text-decoration: underline;
}