h1{
    padding: 0;
}

body{
    margin: 0 5px 0 5px;
}

::placeholder{
    margin: 0;
}

#new-todo {
    padding: 19px 0px 19px 51px;
    font-size: 1.4em;
}

section {
    display: flex;
    flex-direction: column;
}

div {
    justify-content: center;
}

ul {
    justify-content: center;
}

footer{
    padding-top: 40px;
}
