body{
    margin: 0 5px 0 5px;
    background-image: none !important;
}

h1{
    padding: 0;
    font-size: 5em;
}

::placeholder{
    margin: 0;
}

#new-todo {
    padding: 19px 0px 19px 51px;
    font-size: 1.4em;
}

.todo-remove-button p{
    color: #CC9A9A;
}

section {
    display: flex;
    flex-direction: column;
}

#nr-items-left{    
    justify-content: center;
}

#filter-buttons{
    padding: 0 20px 0 0;
}

footer{
    padding-top: 40px;
}

a{
    color: #bfbfbf;
    text-decoration: underline;
}